/* pre loading div styling here */
.postLoadCard {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
  border-color: transparent;
  background: rgba(255, 255, 255, .8);
  margin: 0 0 18px
}
.postLoadCard .bodyWrap {
  padding: 20px 16px 0
}
.postLoadCard .bodyWrap .loadingAnim {
  margin: 0 0 16px;
  max-width: 500px
}
.postLoadCard .bodyWrap .loadingAnim:first-child {
  padding: 16px;
  max-width: 90%;
}
.postLoadCard .bodyWrap .loadingAnim:last-child {
  padding: 8px;
  max-width: 250px
}
.postLoadCard .footerWrap {
  margin: 24px 0 0;
  padding: 24px 0
}
.postLoadCard .loadingAnim {
  padding: 6px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: linear-gradient(90deg, rgba(207, 216, 220, .15), rgba(207, 216, 220, .35), rgba(207, 216, 220, .15));
  -webkit-animation: loadanimation 1.4s ease infinite;
  -moz-animation: loadanimation 1.4s ease infinite;
  animation: loadanimation 1.4s ease infinite;
  background-size: 600% 600%
}
.content-div{
  background-color:white;
  width:50%;
  margin:auto;
  width: 100%;
margin: auto 0;
}
@-webkit-keyframes loadanimation {
  0% {
      background-position: 0 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0 50%
  }
}
@-moz-keyframes loadanimation {
  0% {
      background-position: 0 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0 50%
  }
}

@keyframes loadanimation {
  0% {
      background-position: 0 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0 50%
  }
}
