body{
  background: #f8f8f9;
  color: #434343;
}
.header{
  position: fixed;
top: 0;
width: 100%;
z-index: 8000;
background: #fff;
box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
-webkit-animation: sticky-slide-down .4s ease .25s forwards;
animation: sticky-slide-down .4s ease .25s forwards;
}
.post-title textarea{
  width: 100%;
  border: 0;
  margin: 0;
  font-size: 1.25rem;
  resize: none;
  font-weight: 600;
}
.post-form h3{
  font-size: 2em;
    text-align: center;
    background: white;
    padding: .5em 0;
}
.post-body textarea{

    width: 100%;
    border: 0;
    font-size: 1em;
    resize: none;
    height: 50%;
    margin-bottom: 24px;
}
.post-form label{
  font-size: 1.2em;
font-weight: 600;
color: #455a64;
text-align: center;
}
.content-title h1{
  font-weight: bold;
    margin-bottom: 4px;
    word-break: break-word;
    text-transform: uppercase;
}
.header-div{
  width: 100%;
}
.post-menu-icon{
  display: block;
  position: relative;
  border-radius: 100%;
  color: #7e818d;
  width: 7em;

  margin: 0 1em;
  font-size: .9em;
  margin: .31em auto;
}
.post-menu-icon button{
  width: 7em;
border-radius: 0;
border: 2px solid #434343;
background: #ffc83d;
color: white;
padding: 0;
}
.content-body p{
  font-size: 1.3em;
text-align: left;
}
.post-form{

/* padding: 1em; */
margin: 1em;
}
.post-content-div{
  background: #FFF;
padding: 24px 36px;
display: block;
margin: 1em auto;
}
.sideBar{
  float: left;
    background: #FFF;
  width: 280px;
  box-shadow: inset -1px 0 0 0 rgba(223,223,223,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 910;
  height: 100%;
  padding: 3em 0;
  overflow-y: auto;
}
.right-Bar{
background: #FFF;
    width: 25em;
box-shadow: inset -1px 0 0 0 rgba(223,223,223,0.1);
position: fixed;
top: 0;
/* right: 0; */
z-index: 910;
height: 100%;
padding: 3em 0;
right: -100%;
transition: .3s all ease-in-out;
}
.side-bar-header{
  margin-top: 3em;
}
.open{
  right: 0;
  transition: .8s all ease-in-out;
}
.Registration-Div{

margin-bottom: 20px;
padding: 1em;
}
.center-bar{
  float: right;
  margin: auto;
  margin: 1em;
padding: 1em;
}
.side-menu-icon{
  box-sizing: border-box;
display: block;
position: relative;
color: #7e818d;
font-size: 2em;
width: 1em;
float: right;
}
.side-menu-icon span{
  cursor: pointer;
  color: #434343;
}
.right-panel-close-icon{
  color: #535665;
cursor: pointer;
font-weight: 600;
width: 1em;
margin: 1em 0;
}
.right-panel-close-icon span{
  font-size: 1.5em;
}
.Notification-menu-icon{
  display: block;
    position: relative;
    margin-left: 6px;
    padding: 6.5px;
    border-radius: 100%;
    color: #7e818d;
    width: 1em;
    float: right;
    margin: 0 1em;
    font-size: 1.5em;
}
.side-bar-header h2{
  font-size: 2em;
font-weight: 600;

}
.Form-Div p{
  font-size: 1.1em;
    color: #44464e;
    margin-bottom: 1rem;
    font-weight: 600;

}
.Form-Div input{
  padding: 1em;
margin: 1em;
border-radius: 0;
border: 0;
border-left: 2px solid;
}
.Form-Div button{
  border-radius: 0;
margin: 1em auto;
}
.right-Bar{
overflow-y: auto;
}
.Registration-Div p{
  font-size: 1.35em;
font-weight: 400;
text-align: center;
}
.Registration-Div form input{
  border: none;
    border-left: 1px solid #c1c1c1;
border-radius: 0;
margin: .5em auto;
width: 100%;
}
.Registration-Div form button{
  border-radius: 0;
    margin: auto;
}
.footer{
  padding: 1em 0;
background-image: -webkit-gradient(linear,left top,right bottom,from(#f7f7f7),to(#eafbff));
background-image: linear-gradient(to bottom right,#f7f7f7,#eafbff);
background: #292828;
    color: white;
bottom: 0;
width: 100%;
}
.footer div{
  text-align: center;
}
