body{
  background: #f8f8f9;
  color: #434343;
}
.header{
  position: fixed;
top: 0;
width: 100%;
z-index: 8000;
background: #fff;
box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
-webkit-animation: sticky-slide-down .4s ease .25s forwards;
animation: sticky-slide-down .4s ease .25s forwards;
}
.notify-allow{
  position: absolute;
margin-bottom: 2px;

left: 45%;
font-size: 12px;
color: #FFF;
background: red;
border-radius: 1000px;
padding: 0 8px;
box-shadow: 0 2px 4px #d3d6e2;
}
.post-title textarea{
  width: 100%;
  border: 0;
  margin: 0;
  font-size: 1.25rem;
  resize: none;
  font-weight: 600;
}
.content-meta-data{
  margin: 1em auto;

}
.helper-sec{
  width: 100%;
    padding: 1em 0;
    border-top: 1px solid rgba(0,0,0,.2);
}
.helper-sec a{
  font-weight: 700;
line-height: 1.85;
letter-spacing: -0.2px;
color: #5b5e6a;
/* margin-right: 24px; */
text-decoration: none;
/* font-size: 1.3em; */
}
 .content-meta-data a{
   color: #434343;
 background: #ffc83d;
 border: 2px solid black;
}
.meta-likes{

text-align: center;
}
.meta-likes span , .meta-author span , .meta-author p{
  margin: .2em;
font-size: 1em;

}
.meta-author{
text-align: center;
}

.post-form h3{
  font-size: 2em;
    text-align: center;
    background: white;
    padding: .5em 0;
}
.post-body textarea{

    width: 100%;
    border: 0;
    font-size: 1em;
    resize: none;
    height: 50%;
    margin-bottom: 24px;
}
.post-form label{
  font-size: 1.2em;
font-weight: 600;
color: #455a64;
text-align: center;
}
.content-title h1{
  font-weight: bold;
    margin-bottom: 4px;
    word-break: break-word;
    text-transform: capitalize;
}
.header-div{
  width: 100%;
}
.post-menu-icon{
  display: block;
  position: relative;
  border-radius: 100%;
  color: #7e818d;
  width: 7em;

  margin: 0 1em;
  font-size: .9em;
  margin: .31em auto;
}
.post-menu-icon button{
  width: 7em;
border-radius: 0;
border: 2px solid #434343;
background: #ffc83d;
color: black;
padding: 0;
font-size: 1.2em;
    font-weight: 500;
}
.content-body p{
  font-size: 1.3em;
text-align: left;
}
.post-form{

/* padding: 1em; */
margin: 1em;
}
.post-content-div{
  background: #FFF;
padding: 24px 36px;
display: block;
margin: 1em auto;
}
.sideBar{
  float: left;
    background: #FFF;
  width: 280px;
  box-shadow: inset -1px 0 0 0 rgba(223,223,223,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 910;
  height: 100%;
  padding: 3em 0;
  overflow-y: auto;
}
.right-Bar{
background: #FFF;
    width: 25em;
box-shadow: inset -1px 0 0 0 rgba(223,223,223,0.1);
position: fixed;
top: 0;
/* right: 0; */
z-index: 910;
height: 100%;
padding: 3em 0;
right: -100%;
transition: .3s all ease-in-out;
}
.side-bar-header{
  margin-top: 3em;
}
.open{
  right: 0;
  transition: .8s all ease-in-out;
}
.Registration-Div{

margin-bottom: 20px;
padding: 1em;
}
.center-bar{
  float: right;
  margin: auto;
  margin: 1em;
padding: 1em;
}
.side-menu-icon{
  box-sizing: border-box;
display: block;
position: relative;
color: #7e818d;
font-size: 2em;
width: 1em;
float: right;
}
.side-menu-icon span{
  cursor: pointer;
  color: #434343;
}
.right-panel-close-icon{
  color: #535665;
cursor: pointer;
font-weight: 600;
width: 1em;
margin: 1em 0;
}
.right-panel-close-icon span{
  font-size: 1.5em;
}
.Notification-menu-icon{
  display: block;
    position: relative;
    margin-left: 6px;
    padding: 6.5px;
    border-radius: 100%;
    color: #7e818d;
    width: 1em;
    float: right;
    margin: 0 1em;
    font-size: 1.5em;
}
.notifcation-content a{
  background: #e1e4f2;
  padding: 16px 24px;
  border-bottom: 1px solid #ebeef6;
}

.side-bar-header h2{
  font-size: 2em;
font-weight: 600;

}
.Form-Div p{
  font-size: 1.1em;
    color: #44464e;
    margin-bottom: 1rem;
    font-weight: 600;

}
.Form-Div input{
  padding: 1em;
margin: 1em;
border-radius: 0;
border: 0;
border-left: 2px solid;
}
.Form-Div button{
  border-radius: 0;
margin: 1em auto;
}
.right-Bar{
overflow-y: auto;
}
.Registration-Div p{
  font-size: 1.35em;
font-weight: 400;
text-align: center;
}
.Registration-Div form input{
  border: none;
    border-left: 1px solid #c1c1c1;
border-radius: 0;
margin: .5em auto;
width: 100%;
}
.Registration-Div form button{
  border-radius: 0;
    margin: auto;
}
.footer{
  padding: 1em 0;
background-image: -webkit-gradient(linear,left top,right bottom,from(#f7f7f7),to(#eafbff));
background-image: linear-gradient(to bottom right,#f7f7f7,#eafbff);
background: #292828;
    color: white;
bottom: 0;
width: 100%;
}
.footer div{
  text-align: center;
}
.notification-box{
  display: none;
  width: 50%;
  top: 4em;
  right: 0;
  overflow: hidden;
  z-index: 900;
  font-size: 15px;
  text-align: center;
  pointer-events: auto;
  background: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  color: #1d2129;
  position: absolute;
      border-top: none;
      overflow-y: auto;
max-height: 30em;
}
.notification-box-header{
  padding: 1em;
  background: #e6e6e6fa;
  height: 1.5em;
}
.notification-box-header div p{
  font-size: .9em;
  width: 40%;
  font-weight: 600;
  /* padding-left: 23px; */
  color: #434343;
  text-transform: uppercase;
  text-align: left;
}
.notification-content{
  padding: 1em 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  color: #6d6d6d;
  font-weight: 600;
}
.notifcation-content  p{
  margin-bottom: 0;
    font-weight: 600;
}
.notifcation-content div{
  padding: 1em;
  background: #f7f3f3;
}
.notification-content:last-child{
  margin-bottom: 0;
}

.tria{
  display: none;
  content: '';
width: 14px;
height: 14px;
background: #fff;
-webkit-transform: rotate(45deg) translate(6px,6px);
transform: rotate(45deg) translate(6px,6px);
/* -webkit-box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54); */
box-shadow: -1px -1px 1px -1px rgb(230, 230, 230);
position: absolute;
right: 4em;
top: 3em;
background: #e6e6e6;

}
.open{
  display: block;
}

/* Larger than mobile */
@media (max-width: 400px) {
  .button-primary{
  margin: auto;
      margin-left: 0%;
      width: 100%;
}
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
  #mid{
    width: 100%;
    margin: 0;
  }
  .center-bar{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .sideBar{
    display: none
  }
}